@import url("https://fonts.googleapis.com/css2?family=Exo&family=Montserrat:wght@400;700&family=Open+Sans&family=Roboto:wght@400;700&display=swap");
.content-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5rem 0;
}
@media screen and (min-width: 768px) {
  .content-container {
    margin: 0 0 3rem 250px;
  }
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .content-wrapper {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .content-wrapper {
    padding: 0 2rem;
  }
}

:root {
  line-height: 1.5;
  font-size: 1rem;
  font-family: roboto, sans-serif;
  color: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

h1,
h2,
h3,
h4 {
  font-family: "open sans", sans-serif;
}

p {
  margin-bottom: 1rem;
}

.section-heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 992px) {
  .section-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.section-subheading {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
@media screen and (min-width: 992px) {
  .section-subheading {
    font-size: 2rem;
    margin: 2rem 0;
  }
}

.hamburger {
  position: fixed;
  left: 20px;
  top: 0;
  font-size: 2rem;
  border-radius: 3px;
  z-index: 10;
  transition: all 0.25s;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger--ms-open {
  transform: rotate(90deg);
}
@media screen and (min-width: 768px) {
  .hamburger {
    visibility: hidden;
  }
}

.mobile-nav-bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: red;
  z-index: 7;
}
@media screen and (min-width: 768px) {
  .mobile-nav-bg {
    display: none;
  }
}

.sidebar {
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 250px;
  height: 100%;
  overflow: hidden;
  transform: translateX(-100%);
  transition: all 0.25s;
  z-index: 5;
}
.sidebar--ms-open {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }
}
.sidebar__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 65px;
}
@media screen and (min-width: 768px) {
  .sidebar__content {
    transform: translateX(0);
  }
}

.logo {
  margin: 4rem 0 3rem;
  border: 2px solid black;
  border-radius: 5px;
}

.nav-links__link {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  width: 80%;
  font-family: exo, sans-serif;
}
.nav-links__icon {
  margin-right: 0.5rem;
  flex: 0 0 25%;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.socials__icon {
  font-size: 2rem;
}
.socials__icon--github {
  color: #171515;
}
.socials__icon--github:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
.socials__icon--linkedin {
  color: #0077b5;
}
.socials__icon--linkedin:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
.socials__icon--twitter {
  color: #000;
}
.socials__icon--twitter:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.hero {
  height: 100vh;
  background-color: blue;
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.card,
.card__image {
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}
.card__image {
  width: 100%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.card__title {
  font-size: 2rem;
  margin: 1rem 0 0.25rem;
}
.card__technologies {
  display: flex;
  margin-bottom: 1.5rem;
}
.card__technology {
  font-size: 12px;
  font-weight: 600;
  margin-right: 0.5rem;
  padding: 0.25rem 0.35rem;
  line-height: 1;
}
.card__technology--html {
  background-color: #e34c26;
}
.card__technology--css {
  background-color: #264de4;
}
.card__technology--js {
  background-color: #f0db4f;
}
.card__technology--sass {
  background-color: #c69;
}
.card__text {
  margin-bottom: 1rem;
  flex: 1;
}
.card__buttons {
  margin-top: 2rem;
}
.card__button {
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 0.4rem;
  background-color: #4681f4;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 0.5rem;
}
@media screen and (min-width: 1200px) {
  .card {
    flex: 0 1 30%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
  }
}

.contact-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.contact-text__image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1200px) {
  .contact-text {
    flex: 0 1 30%;
    margin-right: 5rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .contact-text__paragraph {
    font-size: 18px;
  }
}
.contact-text__text-wrapper {
  flex: 1;
  padding: 1rem;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.form-wrapper {
  background-color: #e0e0e0;
  border-radius: 5px;
}
@media screen and (min-width: 992px) {
  .form-wrapper {
    flex: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-content: start;
  border-radius: 5px;
}
@media screen and (min-width: 992px) {
  .form {
    border: none;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    padding: 1.5rem;
  }
}
.form__label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.form__input {
  height: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0.25rem;
  font-size: 1rem;
}
.form__input--message {
  font: inherit;
  padding: 0.5rem;
  height: auto;
  resize: none;
}
.form__input:focus {
  outline: 2px solid blue;
}
.form__input--valid {
  outline: 2px solid green;
}
.form__input--invalid {
  outline: 2px solid red;
}
.form__button {
  align-self: start;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 0.4rem;
  background-color: #4681f4;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.form__err-message {
  font-size: 12px;
  color: red;
  margin: 0.5rem 0;
  border-radius: 3px;
  visibility: hidden;
}
.form__err-message--visible {
  visibility: visible;
}

.scs__banner {
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .scs__content-container {
    font-size: 18px;
  }
}
.scs__container {
  display: flex;
  flex-direction: column;
}
.scs__image img {
  width: 100%;
  border-radius: 5px;
}
.scs__netmatters-list {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
