/////////////////
// Typography //
///////////////

@import url("https://fonts.googleapis.com/css2?family=Exo&family=Montserrat:wght@400;700&family=Open+Sans&family=Roboto:wght@400;700&display=swap");

$font-open-sans: "open sans", sans-serif;
$font-roboto: roboto, sans-serif;
$font-montserrat: montserrat, sans-serif;
$font-exo: exo, sans-serif;

$font-body: $font-roboto;
$font-heading: $font-montserrat;
$font-menu: $font-exo;

// font sizes

$font-size-normal: 1rem;
$font-size-small: px-to-rem(12px);
$font-size-medium: px-to-rem(14px);
$font-size-large: px-to-rem(18px);
$font-size-xlarge: 1.5rem;

// font weight

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//////////////
// Colours //
/////////////

$linkedin-blue: #0077b5;
$github-red: #171515;
$twitter-black: #000;

//////////////////
// Screen Size //
////////////////

$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;

/////////////
// Layout //
///////////

// max inner wrapper width

$content-wrapper-max: 1200px;

$base-line-height: 1.5;
