// media query mixin

@mixin mq($bp) {
  @if ($bp == s) {
    @media screen and (min-width: $s) {
      @content;
    }
  } @else if($bp == m) {
    @media screen and (min-width: $m) {
      @content;
    }
  } @else if($bp == l) {
    @media screen and (min-width: $l) {
      @content;
    }
  } @else if($bp == xl) {
    @media screen and (min-width: $xl) {
      @content;
    }
  } @else {
    @error ('Unknown breakpoint supplied');
  }
}

@mixin std-btn($col) {
  display: inline-block;
  font-size: $font-size-normal;
  // font-weight: $font-weight-semi-bold;
  padding: 0.25rem 0.4rem;
  background-color: $col;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

// reset ul
@mixin reset-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// hover effect for icons - color of icon is passed in

@mixin icon-hover-scale {
  transform: scale(1.2);
  transition: all 0.5s;
}
