:root {
  line-height: $base-line-height;
  font-size: $font-size-normal;
  font-family: $font-body;
  color: #121212;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: initial;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
}

p {
  margin-bottom: 1rem;
}

.section-heading {
  font-size: $font-size-section-heading-mobile;
  margin-bottom: 1.5rem;
  @include mq(l) {
    font-size: $font-size-section-heading;
    margin-bottom: 2rem;
  }
}

.section-subheading {
  font-size: $font-size-section-subheading-mobile;
  margin: 1.5rem 0;
  @include mq(l) {
    font-size: $font-size-section-subheading;
    margin: 2rem 0;
  }
}

.top-image-container {
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  max-width: $content-wrapper-max;
  @include mq(m) {
    margin-top: 1rem;
    padding: 0 1.5rem;
  }

  @include mq(l) {
    padding: 0 2rem;
  }

  & img {
    border-radius: 5px;
  }
}
