:root {
  line-height: $base-line-height;
  font-size: $font-size-normal;
  font-family: $font-body;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

a {
  text-decoration: none;
  color: initial;
}
