// HAMBURGER

.hamburger {
  position: fixed;
  left: 20px;
  top: 5px;
  padding: 0 0.5rem;
  border: 1px solid $dark-grey;
  font-size: 1.5rem;
  border-radius: 3px;
  z-index: 10;
  transition: all 0.25s;
  background-color: $alice-blue;

  &:hover {
    cursor: pointer;
  }

  &--ms-open {
    transform: rotate(90deg);
  }

  @include mq(m) {
    // visibility: hidden;
    display: none;
  }
}

// MOBILE NAV BACKGROUND

.mobile-nav-bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: red;
  z-index: 7;
  @include mq(m) {
    display: none;
  }
}

// SIDEBAR MAIN CONTAINER

.sidebar {
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 250px;
  height: 100%;
  overflow: hidden;
  transform: translateX(-100%);
  transition: all 0.25s;
  z-index: 5;
  background-color: $alice-blue;
  &--ms-open {
    transform: translateX(0);
  }

  @include mq(m) {
    transform: translateX(0);
  }

  // SIDEBAR CONTENT CONTAINER

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mq(m) {
      transform: translateX(0);
    }
    margin: 0 65px;
  }
}

// SIDEBAR LOGO CONTAINER

.logo {
  margin: 4rem 0 3rem;
  border: 2px solid black;
  border-radius: 5px;
}

// SIDEBAR LINKS CONTAINER

.nav-links {
  transition: 0.5s;
  &__link {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    width: 80%;
    font-family: $font-exo;
  }
  &__icon {
    margin-right: 0.5rem;
    flex: 0 0 25%;
  }
  :hover {
    color: darken($alice-blue, 60%);
    transform: scale(1.2);
  }
}

// SIDEBAR SOCIALS CONTAINER

.socials {
  display: flex;
  justify-content: space-between;

  margin-top: 4rem;
  &__icon {
    font-size: 2rem;

    &--github {
      color: $github-red;
      &:hover {
        @include icon-hover-scale;
      }
    }
    &--linkedin {
      color: $linkedin-blue;
      &:hover {
        @include icon-hover-scale;
      }
    }
    &--twitter {
      color: $twitter-black;
      &:hover {
        @include icon-hover-scale;
      }
    }
  }
}
