// HAMBURGER

.hamburger {
  position: fixed;
  left: 20px;
  top: 10px;
  font-size: 2rem;
  border-radius: 3px;
  z-index: 1;
  transition: all 0.25s;

  &:hover {
    cursor: pointer;
  }

  &--ms-open {
    transform: rotate(90deg);
  }

  @include mq(m) {
    visibility: hidden;
  }
}

// SIDEBAR MAIN CONTAINER

.sidebar {
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 250px;
  height: 100%;
  overflow: hidden;
  transform: translateX(-100%);
  transition: all 0.25s;

  &--ms-open {
    transform: translateX(0);
  }

  @include mq(m) {
    transform: translateX(0);
  }

  // SIDEBAR CONTENT CONTAINER

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 65px;
  }
}

// SIDEBAR LOGO CONTAINER

.logo {
  margin: 4rem 0 3rem;
}

// SIDEBAR LINKS CONTAINER

.nav-links {
  &__link {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    width: 80%;
    font-family: $font-exo;
  }
  &__icon {
    margin-right: 0.5rem;
    flex: 0 0 25%;
  }
}

// SIDEBAR SOCIALS CONTAINER

.socials {
  display: flex;
  justify-content: space-between;

  margin-top: 4rem;
  &__icon {
    font-size: 2rem;

    &--github {
      color: $github-red;
      &:hover {
        @include icon-hover-scale;
      }
    }
    &--linkedin {
      color: $linkedin-blue;
      &:hover {
        @include icon-hover-scale;
      }
    }
    &--twitter {
      color: $twitter-black;
      &:hover {
        @include icon-hover-scale;
      }
    }
  }
}
