// container to wrap all content - no left margin on screens below 768px as sidebar hidden

.content-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5rem 0;

  @include mq(m) {
    margin: 0 0 3rem 250px;
  }
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: $content-wrapper-max;
  padding: 0 1rem;
  @include mq(m) {
    padding: 0 1.5rem;
  }

  @include mq(l) {
    padding: 0 2rem;
  }
}

.top-image-container {
  margin: 0 auto;
  width: 100%;
  max-width: $content-wrapper-max;
  @include mq(m) {
    margin-top: 1rem;
    padding: 0 1.5rem;
  }

  @include mq(l) {
    padding: 0 2rem;
  }
}
