// container to wrap all content - no left margin on screens below 768px as sidebar hidden

.content-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  transition: all 0.25s;

  @include mq(m) {
    margin-left: 150px;
    &--hide-margin {
      margin-left: 0;
    }
  }
}

.content-wrapper {
  max-width: $content-wrapper-max;
  margin: 0 1rem;
}
